

header h1 {
  text-align: center;
  font-style: bolder;
}

table caption {
  background-color: gray;
  font-style: bolder;
  color: white;
  font-size: 20px;
}

table {
  border: 1px black solid;
  position: relative center;
  margin: 12px;
}

th {
  border: 1px black solid;
  padding: 5px;
}

.descricao {
  font-size: 14px;
}

.conteudo {
  font-size: 12px;
  font-style: none;
  color: gray;
}
