main {
    box-shadow: 5px 5px 5px #41423A;
    background-color: #ECE2D2;
    position: absolute;
    left: 300px;
    top: 180px;
    width: 1200px;
    height: 450px;
    border-radius: 10px;
    text-align: center;
    color: #41423A;
}

#main-home {
    display: none;
}

table, th, td {
    border: 1px solid black;
}