header{
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
    background-color: #ED7D27;
    color: #ECE2D2;
    box-shadow: 5px 5px 5px #41423A;
}

#title {
    margin-left: 300px;
}
