section {
    position: absolute;
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ED7D27;
    box-shadow: 5px 5px 5px #41423A;
}

button {
    border: 1px solid #ECE2D2;
    border-radius: 10px;
    cursor: pointer;
    color: #ED7D27;
    font-size: 20px;
    margin-bottom: 20px;
    width: 200px;
    background-color: #ECE2D2;
}

button:hover {
    color: #ECE2D2;
    background-color: #ED7D27;
}